<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre mí - Xavier Lara</title>
</head>
<body>

  <header>
    <h1>Sobre mí</h1>
  </header>

  <section>
    <h2>Datos personales</h2>
    <p><strong>Nombre:</strong> Xavier Fernando Lara Balcazar</p>
    <p><strong>Edad:</strong> 18 años</p>
    <p><strong>Carrera:</strong> Perito Técnico en Informática</p>
    <p><strong>Centro educativo:</strong> Centro Educativo Técnico Laboral Kinal</p>
  </section>

  <section>
    <h2>Mis gustos e intereses</h2>

    <p>
      Uno de mis pasatiempos favoritos es jugar fútbol, ya que es un deporte que me
      permite mantenerme activo y trabajar en equipo.
      Disfruto mucho jugar con amigos, ya sea en partidos o competencias,
      porque me ayuda a liberar el estrés y a fortalecer la convivencia y la disciplina.
    </p>

    <p>
      También me gusta ver películas, especialmente en mi tiempo libre. Disfruto
      distintos géneros como acción y comedia, ya que me permiten
      entretenerme, relajarme y conocer nuevas historias. Ver películas es una actividad
      que me ayuda a desconectarme de la rutina diaria y a compartir momentos agradables
      con amigos o familiares.
    </p>

    <p>
      Otro de mis grandes intereses son los videojuegos. Me gusta jugar porque desarrollan
      habilidades como la concentración, la estrategia y la toma de decisiones rápidas.
      Además, los videojuegos son una forma divertida de pasar el tiempo y de interactuar
      con otras personas, tanto de manera individual como en línea.
    </p>
  </section>

</body>
</html>